fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.30
pymysql==1.1.1
cryptography==42.0.8
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
python-multipart==0.0.9
boto3==1.34.120
botocore==1.34.120
apscheduler==3.10.4
pydantic==2.7.1
pydantic-settings==2.3.0
python-dotenv==1.0.1
httpx==0.27.0
Pillow==10.3.0
